<nav class="navbar fixed-top navbar-md navbar-dark bg-dark">
       
    <span class="navbar-brand mb-0 h1">ORTEC FeedbackApp</span>
   
        <ul class="nav justify-content-end grey lighten-4 py-1">
            <li class="nav-item ">
                <span class="navbar-text text-white mr-4">
                    Nume utilizator(pozitie)
                </span>
            </li>
            <li class="nav-item mr-3 ">
                <button class="btn btn-warning">Logout</button>
            </li>
        </ul>
 </nav> 