.nav-color {
    background-color: #002C67;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.25);
    color:#fff;
}


.button-style {
    background-color: #F67D2A;
    color:#fff;
}

.dropdown-toggle,.dropdown-item{
    cursor: pointer;
}

.fa-exclamation {
    color: red;
    size: 9px!important;
}

:host >>> .tooltip.inner{
background-color: #fff; 
}
