
.forPadding{
  margin: 20px 50px;
}

a, .delete{
  color: #F67D2A!important;
}

.name {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.filter {
  background-color: #F67D2A;
  color: #fff;
}

.loading {
  margin-top: 300px;
}



