<div class="row mt-4">

  <div class="col-md-1">

  </div>

  <div class="col-md-10">
      <div class="card">

          <table class="table table-hover table-inverse ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">dep_id</th>
                      <th scope="col">name</th>
                      <th scope="col">email</th>
                      <th scope="col">manager</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let user of users; let i=index ">

                          <!-- <app-user [user]="user" [i]="i"></app-user> -->
                          <td scope="row">{{i+1}}</td> 
                          <td>{{user.deP_ID}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.email}}</td>
                          <td>{{user.manager_ID}}</td>
                          <td><a [routerLink]="['/all/', user.id]"  >Give</a></td>
                          <td><a routerLink="/import">Request</a></td>
                      </tr>
                  </tbody>
                </table>
      
      </div>
  </div>

  <div class="col-md-1">

  </div>

</div>
