<div class="card mt-5">
  <div class="container">
    <div class="row">
      <nav class="navbar">
        <input class="form-control" type="text" name="search" placeholder="Search..." [(ngModel)]="filter">
      </nav>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>
              Department
            </th>
            <th (click)="sort('name')">
              Name
              <span class="fas fa-sort" *ngIf="key =='name'" [ngClass]="{' fa-sort-up':reverse,' fa-sort-down':!reverse}"></span>
            </th>
            <!--<th (click)="sort('genre')">
    ID
    <span class="fas fa-sort" *ngIf="key =='genre'" [ngClass]="{' fa-sort-up':reverse,' fa-sort-down':!reverse}"></span>
  </th>-->
            <th (click)="sort('department')">
              Email
              <span class="fas fa-sort" *ngIf="key =='department'" [ngClass]="{' fa-sort-up':reverse,' fa-sort-down':!reverse}"></span>
            </th>
            <th (click)="sort('role')">
              Manager
              <span class="fas fa-sort" *ngIf="key =='role'" [ngClass]="{' fa-sort-up':reverse,' fa-sort-down':!reverse}"></span>
            </th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let user of users | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{departamente[user.deP_ID]}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.manager_ID}}</td>
            <td><a [routerLink]="['/all/', user.id]" [class.disabled]="!tableLoaded">Offer feedback</a></td>
            <td><a [routerLink]="['/request/', user.id]" [class.disabled]="!tableLoaded" *ngIf="isEmployee()">Request</a></td>
            <td><a [routerLink]="['/all/update/', user.id]" [class.disabled]="!tableLoaded" *ngIf="isEmployee()">Update</a></td>
            <td><button (click)="tableLoaded && onDelete(user.id)" [class.disabled]="!tableLoaded" *ngIf="isEmployee()" style="background-color:#DB0000">Delete</button></td>

          </tr>
        </tbody>

      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<!--<div class="row mt-4">

  <div class="col-md-1">

  </div>

  <div class="col-md-10">
      <div class="card">

          <table class="table table-hover table-inverse ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">dep_id</th>
                      <th scope="col">name</th>
                      <th scope="col">email</th>
                      <th scope="col">manager</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let user of users; let i=index ">

                          <td scope="row">{{i+1}}</td>
                          <td>{{departamente[user.deP_ID]}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.email}}</td>
                          <td>{{user.manager_ID}}</td>
                          <td><a (click)="onDelete(user.id)">Delete</a></td>
                          <td><a [routerLink]="['/request/', user.id]">Request</a></td>
                          <td><a [routerLink]="['/all/update/', user.id]">Update</a></td>
                          <td><a [routerLink]="['/all/', user.id]"  >Give</a></td>
                      </tr>
                  </tbody>
                </table>

      </div>
  </div>

  <div class="col-md-1">

  </div>
</div>-->
