
<div class="row">
    <div class="col-md-10">
        <button class="btn btn-primary">Search</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-10">
        <a href="#" class="list-group-item clearfix " *ngFor="let feedback of feedbacks">
            <div class="pull-left">
                <p class="list-group-item-heading">From:{{feedback.ID}}</p>
            </div>
          
                <p class="pull-right">To: {{feedback.ID_reciver}}</p>
         
        </a>
        <app-feedback-item></app-feedback-item>
    </div>
</div>

