
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                    <label for="employee"> <strong>Please select an employee!</strong> </label>
                    <select class="form-control" id="employee" (change)="onChange()" [(ngModel)]="user.user" name="user">
                        <option value=""></option>
                        <option *ngFor="let user of users" value="{{user.id}}">{{ user.name }}</option>
                    </select>
                </div>   
        </form>
        <hr>
    </div>
</div>

<div *ngIf="loadFeed" class="row">
    <div class="col-md-12">
        <div class="list-group">
            <app-feedback-item 
                *ngFor="let feedbackEl of userFeedbacks; let i= index"
                [feedback] = "feedbackEl"
                >
            </app-feedback-item>
        </div>
    </div>
</div>

