<div class="section-container">
    <h2>Feedbacks From Robert</h2>
    <!-- <button class="btn btn-primary" (click)="myfeedbacks()">Load</button> -->
    
    <div class="card-deck servers">
        <div *ngFor="let feedback of myFeedbacks">
            <app-feedback 
            [feedbackInput] = "feedback"  
            >
            <button type="button" 
                    class="btn btn-primary" 
            >
              </button>
              

        </app-feedback>
        
        </div>

    </div>
</div>
