<!-- <div class="row">
    <div class="col-md-12">
        <h1>Feedback for,ular</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         Comments     
    </div>
 </div> -->


 <div class="row">
        <div class="col-md-12 mb-3">
             <h1>Feeback result</h1> 
             
        </div>
     </div>
 <div class="card">
        <div class="card-body" >
          <h5 class="card-title">Formular de feedback</h5>
          <p class="card-text">Punctuality: {{feedback?.punctuality}}</p>
          <p class="card-text">Punctuality: {{feedback?.productivity}}</p>
          <p class="card-text">Punctuality: {{feedback?.commSkills}}</p>
          <p class="card-text">Punctuality: {{feedback?.workQuality}}</p>
          <p class="card-text">Comments:  {{feedback?.comments}}</p> 
        </div>
</div>
  
      
