<!-- <div class="row">
    <div class="col-md-12">
        <h1>Feedback for,ular</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         Comments     
    </div>
 </div> -->


 <!-- <div class="row">
        <div class="col-md-12 mb-3">
             <h1>Feeback result</h1> 
             
        </div>
     </div>
 <div class="card">
        <div class="card-body" >
          <h5 class="card-title">Formular de feedback</h5>
          <p class="card-text">Punctuality: {{feedback?.punctuality}}</p>
          <p class="card-text">Punctuality: {{feedback?.productivity}}</p>
          <p class="card-text">Punctuality: {{feedback?.commSkills}}</p>
          <p class="card-text">Punctuality: {{feedback?.workQuality}}</p>
          <p class="card-text">Comments:  {{feedback?.comments}}</p> 
        </div>
</div> -->



  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10  card-position">
      <!-- <p>Productivity: {{feedback.productivity}}</p>
    <p>Punctuality: {{feedback.punctuality}}</p>
    <p>CommSkils: {{feedback.commSkills}}</p>
    <p>Comments: {{feedback.comments}}</p>
    <p>Date: {{feedback.timestamp}}</p>
    <button class="btn btn-primary" [routerLink]="['/feedbacks']" >Back</button> -->

      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><strong>Feedback Form</strong></h3>
          <p class="card-text"> <strong> To:</strong>   {{receiver.name}} </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Productivity:</strong><br>
            <rating [(ngModel)]="feedback.productivity" [max]="max" [readonly]="isReadonly"></rating>
            {{adjectives[feedback.productivity-1] | uppercase}}
          </li>
          <li class="list-group-item">
            <strong>Punctuality:</strong> <br>
            <rating [(ngModel)]="feedback.punctuality" [max]="max" [readonly]="isReadonly"></rating>
            {{adjectives[feedback.punctuality-1] | uppercase}}
          </li>
          <li class="list-group-item">
            <strong>CommSkils:</strong>  <br>
            <rating [(ngModel)]="feedback.commSkills" [max]="max" [readonly]="isReadonly"></rating>
            {{adjectives[feedback.commSkills-1] | uppercase}}
          </li>
          <li class="list-group-item">
            <strong>WorkQuality:</strong> <br>
            <rating [(ngModel)]="feedback.workQuality" [max]="max" [readonly]="isReadonly"></rating>
            {{adjectives[feedback.workQuality-1] | uppercase}}
          </li>
          <li class="list-group-item"> <strong>Comments:</strong>  {{feedback.comments}}</li>
          <li class="list-group-item"><strong> Date: </strong>{{feedback.timestamp | date:'fullDate'}}</li>

        </ul>
        <div *ngIf="feedback.pending" class="card-body text-center">
          <button class="btn btn-lg btn-primary" [routerLink]="['/request/', feedback.id]">Resend request</button>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  
      
