<div class="row">
    <div class="col-md-2">

    </div>
   
    <div class="col-md-6">
        <div class="card mt-2">
        <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">To: </label>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="comments">Punctuality</label>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" id="punct1" name="punctuality">
                                    <label class="form-check-label" for="punct1">
                                      Default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio"  id="punct2" name="punctuality">
                                    <label class="form-check-label" for="punct2">
                                      Second default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" id="punct3" name="punctuality">
                                    <label class="form-check-label" for="punct3">
                                      Second default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio"id="punct4" name="punctuality">
                                    <label class="form-check-label" for="punct4">
                                      Second default radio
                                    </label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="comments">Productivity</label>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" id="prod1" name="productivity">
                                    <label class="form-check-label radio-inline" for="prod1">
                                      Default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" id="prod22" name="productivity">
                                    <label class="form-check-label radio-inline" for="exampleRadiosv2">
                                      Second default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" id="prod3" name="productivity">
                                    <label class="form-check-label" for="prod3">
                                      Second default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" id="prod4" name="productivity">
                                    <label class="form-check-label" for="prod4">
                                      Second default radio
                                    </label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="comments">CommSkills</label>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" name="CommSkills" id="comm1">
                                    <label class="form-check-label" for="comm1">
                                      Default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" name="CommSkills" id="comm2">
                                    <label class="form-check-label" for="comm2">
                                      Second default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" name="CommSkills" id="comm3" >
                                    <label class="form-check-label" for="comm3">
                                      Second default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" name="CommSkills" id="comm4" >
                                    <label class="form-check-label" for="comm4">
                                      Second default radio
                                    </label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="comments">WorkQuality</label>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" name="WorkQuality" id="work1" >
                                    <label class="form-check-label" for="work1">
                                      Default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" name="WorkQuality" id="work2" >
                                    <label class="form-check-label" for="work2">
                                      Second default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" name="WorkQuality" id="work3" >
                                    <label class="form-check-label" for="work3">
                                      Second default radio
                                    </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="radio" name="WorkQuality" id="work4">
                                    <label class="form-check-label" for="work4">
                                      Second default radio
                                    </label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea type="text" name="" id="comments" cols="30" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary mr-5">Submit</button>
                        <button type="button" class="btn btn-danger ">Cancel</button>
                    </div>
            </div>
        </form>
    </div>
    </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
