<div  class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="card mt-2">
        <div class="card-body">
        <form #requestForm="ngForm" (ngSubmit)="submitRequest()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label >To: {{feedback?.iD_receiver}} </label>
                        
                    </div>
                    <div class="form-group">
                        <label  >Requested by: {{feedback?.iD_manager}} </label>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                    <label for="">Punctuality</label>
                                    <div class="radio" *ngFor="let item of punct">
                                        <label>
                                                <input 
                                                type="radio"
                                                name="punctuality"
                                                [value]="item"
                                                [(ngModel)]="feedback.punctuality"
                                                required
                                                > 
                                                {{item}}
                                        </label>
                                    </div>
                            </div>
                    </div>
            </div>
            <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                        <label for="">Productivity</label>
                                        <div class="radio" *ngFor="let item of punct">
                                            <label>
                                                    <input 
                                                    type="radio"
                                                    name="productivity"
                                                    [value]="item"
                                                    [(ngModel)]="feedback.productivity"
                                                    required
                                                    > 
                                                    {{item}}
                                            </label>
                                        </div>
                                </div>
                        </div>
                </div>          
                 <div class="row">
                                <div class="col-md-12">
                                        <div class="form-group">
                                                <label for="">Workquality</label>
                                                <div class="radio" *ngFor="let item of punct">
                                                    <label>
                                                            <input 
                                                            type="radio"
                                                            name="workQuality"
                                                            [value]="item"
                                                            [(ngModel)]="feedback.workQuality"
                                                            required
                                                            > 
                                                            {{item}}
                                                    </label>
                                                </div>
                                        </div>
                                </div>
                        </div>

                <div class="row">
                                <div class="col-md-12">
                                        <div class="form-group">
                                                 <label for="">Commskills</label>
                                                 <div class="radio" *ngFor="let item of punct">
                                                        <label>
                                                                <input 
                                                                type="radio"
                                                                name="commSkills"
                                                                [value]="item "
                                                                [(ngModel)]="feedback.commSkills"
                                                                required
                                                                > 
                                                                {{item}}
                                                        </label>
                                                </div>
                                        </div>
                                </div>
                        </div>

            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >Comments</label>
                            <textarea name="comments"  rows="4" class="form-control" [(ngModel)]="feedback.comments" >{{feedback?.comments}}</textarea>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <button [disabled]="!requestForm.valid || !requestForm.dirty" type="submit" class="btn btn-primary mr-5">Submit</button>
                        <button  type="button" class="btn btn-danger ">Cancel</button>
                    </div>
            </div>
        </form>
    </div>
    </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

