<ul class="nav nav-pills flex-column text-center ">
        <li class="nav-item mb-2" >
            <button  class="btn " routerLinkActive="active" routerLink="/all">Show all</button>
        </li>
        <li class="nav-item mb-2">
            <button class="btn " routerLink="/feedback">My Feedbacks </button>
        </li>
        <li class="nav-item mb-2">
            <button class="btn " routerLink="/adduser">Add User</button>
        </li>
        <li class="nav-item mb-2">
            <button class="btn  "routerLink="/all">Import</button>
        </li>
        <li class="nav-item mb-2">
            <button class="btn "routerLink="/view">View Feedback</button>
        </li>
    </ul>
          
                  

