<div class="container">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
                <p>Productivity: {{feedback.productivity}}</p>
                <p>Punctuality: {{feedback.punctuality}}</p>
                <p>CommSkils: {{feedback.commSkills}}</p>
                <p>Comments: {{feedback.comments}}</p>
                <p>Date: {{feedback.timestamp}}</p>
                <button class="btn btn-primary" [routerLink]="['/feedbacks']" >Back</button>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>
