
<a  
    *ngIf="!feedback.pending"
    style="cursor: pointer"
    [routerLink]="[feedback.feeD_ID]"
    routerLinkActive = "active"
    class="list-group-item list-group-item-action">
    <h6 >From: {{ receiver.name }}</h6>
   <!--<h6>Requestd By:{{ requester.name }}</h6>-->
    

</a>


<a  
    *ngIf="feedback.pending"
    style="cursor: pointer"
    [routerLink]="[feedback.feeD_ID]"
    routerLinkActive = "active"
    class="list-group-item list-group-item-action">
    <h6>Status: <strong>Not Completed!</strong></h6>
    <h6 >From: {{ receiver.name }}</h6>
    <h6>Requestd By:{{ requester.name }}</h6>
    

</a>



<!-- *ngIf = "feedback.pending" 
style="cursor: pointer"
[routerLink] = "[index]"
routerLinkActive = "active"
class="list-group-item list-group-item-action">
<h6>From:{{ feedback.feeD_ID }}</h6>
<h6 >To: {{ feedback.iD_reciver }}</h6> -->
