
<a  
    *ngIf="!feedback.pending"
    style="cursor: pointer"
    [routerLink]="[feedback.feeD_ID]"
    routerLinkActive = "active"
    class="list-group-item list-group-item-action mb-2">
    <h6 >From: {{ feedback.sender }}</h6>
   <!-- <h6>Requestd By:{{ requester.name }}</h6> -->
   <h6 class="card-text">{{feedback.timestamp | timeAgo}}</h6>
    
</a>


<a  
    *ngIf="feedback.pending"
    style="cursor: pointer"
    [routerLink]="[feedback.feeD_ID]"
    routerLinkActive = "active"
    class="list-group-item list-group-item-action mb-2">
    <h6>Status: <strong>Not Completed!</strong></h6>
    <h6 >From: {{ feedback.sender}}</h6>
    <h6>Requestd By:{{ feedback.manager }}</h6>
    <p class="card-text">{{feedback.timestamp | timeAgo}}</p>
    

</a>



<!-- *ngIf = "feedback.pending" 
style="cursor: pointer"
[routerLink] = "[index]"
routerLinkActive = "active"
class="list-group-item list-group-item-action">
<h6>From:{{ feedback.feeD_ID }}</h6>
<h6 >To: {{ feedback.iD_reciver }}</h6> -->
