#Sidebar{
    height: 100vh;
    padding-top: 80px;
    position: fixed;
    background-color: #ECF3FE;
}

#dashboard{
    margin-top: 60px;
}

#navbar{
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.2);
}

.login {
    margin-top: 100px;
}
