<app-navbar id="navbar"></app-navbar>
<div class="container-fluid">
    <div class="row" id="mainContent">
        <app-sidebar 
            class="col-sm-3 col-md-2 d-none d-sm-block sidebar bg-secondary"
            id="Sidebar">
        </app-sidebar>
        <div class="col-sm-9 ml-sm-auto col-md-10  pt-3 " id="dashboard">
           <!-- <app-section-adduser></app-section-adduser> -->
           <app-section-feedbacks></app-section-feedbacks>

        </div>
             
    </div> 
</div>

